<section data-ng-controller="TestsController" data-ng-init="findOne()">
    
    <div class="page-header"><h1>{{test.title}}<small class="pull-right"><a class="btn" href="/#!/tests/{{test._id}}/edit">
            <i class="fa fa-edit fa-fw"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="fa fa-trash-o fa-fw"></i>
        </a></small></h1> 
    </div>
    <div class="well">{{test.desc}}</div>
    <div class="row">
    <div class="col-sm-12">
    <div>
       
    </div>
    </div>

    <h3>Contents</h3>
    <div class="row" ng-repeat="header in test.headers">
     
            <div class="col-sm-12" >
              <div class="panel panel-default">

                <div class="panel-heading" contentEditable="true" ng-model="header.name">{{header.name}}</div>

                <div class="panel-body">
                    <ul class="list-group">
                        <li ng-repeat="step in header.steps" class="list-group-item">
                            <div class="pull-left" style="width:30px" contentEditable="true" ng-model="step.seq">{{step.seq}}</div>
                            <div contentEditable="true" ng-model="step.desc">{{step.desc}}</div>
                        </li>
                    </ul>
                    
                    <div class="row">
                        <form class="form-inline" >
                        
                            <div class="form-group col-lg-1">
                                    <input type="text" class="form-control " data-ng-model="stepNew.seq" placeholder="1" ng-required />
                            </div>
                        
                        
                            <div class="form-group col-lg-9">
                                <input type="text" class="form-control " data-ng-model="stepNew.desc" placeholder="Step" ng-required />
                            </div>
                        
                            <div class="form-group col-lg-1">
                                <button class="btn btn-default" ng-click="addStep(header,stepNew)">Add Step</button>
                            </div>
                    </form>
                    </div>
                 </div>
            </div>
            </div>
        </div>
    <div class="row">
        <form class="form-inline">
        <div class="form-group col-lg-9">
            <input type="text" class="form-control" data-ng-model="newHeader.name" id="headers" placeholder="New Header" ng-required />
        </div>
        <div class="form-group col-lg-1">
            <button class="btn btn-default" ng-click="addHeader()">Add Header</button>
        </div>
        </form>
    </div>
    </div>
</section>
