<section data-ng-controller="HeadersController" data-ng-init="findOne()">
    <span>{{header.created | date:'medium'}}</span> /
    <span>{{header.user.name}}</span>
    <h2>{{header.title}}</h2>
    <div data-ng-show="global.user._id == header.user._id">
        <a class="btn" href="/#!/headers/{{header._id}}/edit">
        	<i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div>{{header.content}}</div>
</section>
