<section data-ng-controller="BranchsController" data-ng-init="findOne()">
    <span>{{branch.created | date:'medium'}}</span> /
    <span>{{branch.user.name}}</span>
    <h2>{{branch.title}}</h2>
    <div data-ng-show="global.user._id == branch.user._id">
        <a class="btn" href="/#!/branchs/{{branch._id}}/edit">
        	<i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div>{{branch.content}}</div>
</section>
